{% extends '::base.html.twig' %}

{% block title %}Contacto{% endblock %}

{% block titulobanner %}
    DATOS DE CONTACTO
{% endblock %}

{% block body %}

<div class="titulo">CONTACTO</div>

	<div>UNIDAD DE APLICACIONES Y DESARROLLO</div>
	<div>EXTENSIONES 264 Y 339</div>

	<br><br>

	<a class="btn btn-primary" href="{{ path("usuario_homepage") }}">Volver</a>

	<br><br>

{% endblock %}