{% extends '::administracion.html.twig' %}

{% block title %}Contacto{% endblock %}

{% block titulo %}
    <h2>DATOS DE CONTACTO</h2>
{% endblock %}

{% block ubicacion %}
    PÃGINA PRINCIPAL -> DATOS DE CONTACTO
{% endblock %}

{% block body %}
	{{ parent() }}

	<div>UNIDAD DE APLICACIONES Y DESARROLLO</div>
	<div>EXTENSIONES 264 Y 339</div>

	<br><br>

	<a class="btn btn-primary" href="{{ path("usuario_homepage") }}">VOLVER</a>

	<br><br>

{% endblock %}