{% extends '::login.html.twig' %}

{% block title %}FORMULARIO DE ACCESO{% endblock %}

{% block titulobanner %}
    FORMULARIO DE ACCESO
{% endblock %}

{% block body %}


    <br><br>
    {% block mensaje %}
        {% if error %}
            <div class="alert" style="text-align: center;"><strong>Alerta!</strong> {{ error.message|trans() }}</div>
        {% endif %}
    {% endblock %}

    <h3>APLICACIONES TELESUR</h3>
    
    <div class="container">
      <form class="form-signin" action="{{ path('usuario_login_check') }}" method="post">
        <h4 class="form-signin-heading">INGRESE SUS DATOS</h4>
        <input type="text" id="username" name="_username" class="input-block-level"placeholder="Ingrese usuario..." data-placement="right" data-content="Puede ingresar el mismo usuario y clave de su correo Zimbra. Ante cualquier inconveniente comunicarse con la extensión 264/339." title="USUARIO">
        <input type="password" name="_password" class="input-block-level" placeholder="Ingrese clave...">
        <button class="btn btn-large btn-primary" type="submit">Registrarse</button>
      </form>

    </div> <!-- /container -->

    <br>

    <script>$('#username').popover();</script>

{% endblock %}