{% extends '::directorio.html.twig' %}

{% block body %}      
		<br><br>
          <div class="bs-docs-example">
            <div class="well" style="max-width: 400px; margin: 0 auto 10px;">
				<a class="btn btn-large btn-block btn-primary"  
				        href="{{ path('personalidad')}}">Personas</a>
				<a class="btn btn-large btn-block btn-primary" 
				        href="{{ path('institucion')}}">Instituciones</a>
            </div>
          </div>
{% endblock  %}