{% extends '::administracion.html.twig' %}

{% block title %}Inicio - Telesur{% endblock %}

{% block titulo %}<h2 class="title-dashboard">DashBoard</h2>{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li class="active">PAGINA PRINCIPAL</li>
</ol>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .container-dashboard{
            width: 90%;
            margin: 0 auto;
        }
        .title-dashboard{
            color: #545b60;
        }
    </style>
{% endblock %}

{% block body %}

    {{ parent() }}
	<div class="container-dashboard">
                <div class="row">
                <div class="col-md-12">
                        {% include 'UsuarioBundle:Logs:paginasVisitadas.html.twig' %}
                    </div>
                </div>
		<div class="row">
			<div class="col-md-6">
                            {% include 'UsuarioBundle:Logs:sistemaOperativo.html.twig' %}
			</div>
			<div class="col-md-6">
                            {% include 'UsuarioBundle:Logs:usuariosConectados.html.twig' %}
			</div>
		</div>
                <div class="row">
                    <div class="col-md-12">
                    <div class="row">
                        {% include 'UsuarioBundle:Logs:aplicaciones.html.twig' %}
                    </div>
                </div>
		</div>
                    <div class="row">
                    <div class="col-md-12">
                    <div class="row">
                        {% include 'UsuarioBundle:Logs:browser.html.twig' %}
                    </div>
                </div>
		</div>
	</div>

{% endblock %}
