{# empty Twig template #}

{% block javascripts %}
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#container-so').highcharts({
                chart: {
                    type: 'pie'
                },

                series: [{}]
            });


            // the button action
            $('#button').click(function() {
                var chart = $('#container-so').highcharts();
                $.ajax({
                    url: '{{ path("logs_charts_so") }}',
                    success: function(point) {
                        chart.series[0].setData(point);
                        // call it again after one second
                        //setTimeout(requestData, 3000);    
                    },
                    cache: false
                });
                //chart.series[0].setData([129.2, 144.0, 176.0]);
            });
        });
    </script>
{% endblock %}
<div class="panel panel-default">
        <div class="panel-heading">Registro de S.O
        <button id="button" class="autocompare">Set new data</button>
        </div>
        <div class="panel-body" id="container-so">
        Panel content
        </div>
</div>