{# empty Twig template #}

{% block javascripts %}
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript">
    $(function () {
    var chart;
    
    $(document).ready(function () {
    	
    	// Build the chart
        $('#container-so').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Browser market shares at a specific website, 2014'
            },
            tooltip: {
        	    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: 'Browser share',
                data: [
                    ['Firefox',   45.0],
                    ['IE',       26.8],
                    {
                        name: 'Chrome',
                        y: 12.8,
                        sliced: true,
                        selected: true
                    },
                    ['Safari',    8.5],
                    ['Opera',     6.2],
                    ['Others',   0.7]
                ]
            }]
        });
    });
    
});
    </script>
{% endblock %}
<div class="panel panel-default">
        <div class="panel-heading">Registro de S.O</div>
        <div class="panel-body" id="container-so">
        Panel content
        </div>
</div>