<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>

    {% block stylesheets %}
        <link href="{{ asset('bundles/distribucion/css/reporteinformativo.css') }}" rel="stylesheet" type="text/css" />
    {% endblock %}

    <body>
                {% block body %}
                {% endblock %}
    </body>
</html>
