<div id="ajaxlistausuario">
    {% for v in username %}
        <div id="ajaxusuarios" onclick="armarlista('{{ v.username }}@telesurtv.net')">{{ v.username }}@telesurtv.net</div>
    {% endfor %}
</div>