{% extends '::distribucion.html.twig' %}
 
{% block title %}Distribución{% endblock %}


{% block titulobanner %}
    REPORTE GENERAL
{% endblock %}


{% block body -%}
    {{ parent() }}
    
    <div class="titulo">CREAR REPORTE GENERAL</div>

{% endblock %}