{% if mostrar=='estado' %}
	<div class="widgetform">{{ form_widget(form.estado) }}</div>
		<script>
        $("#frontend_distribucionbundle_representantetype_telefono1").val({{ pais.codigo }});
	</script>	
{% endif %}
