{% extends '::visita.html.twig' %}


{% block body %}
<form action="{{ path('cedula_cons') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
 
    <input type="submit" />
</form>

{% endblock %}