#numeracion .numero{
	padding-top: 110px;
	padding-bottom: 60px;
	font-size: 180px;
}

#numeracion .nombre {
	padding-top: 60px;
	padding-bottom: 20px;
	font-size: 40px;
}

#numeracion .cedula {
	font-size: 30px;
}

.titulojornada{
	padding-top: 40px;
	font-size: 50px;

}