<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

{% if dias == 0 %}
	<div class="form-contenedor">
        <div class="labels">D&iacute;as de diasEntrega:</div>
		<div class="widgets">{{ form_widget(form.diasentrega) }}</div>
    </div>
{% endif %}
