<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

	<div class="form-contenedor">
        <div class="labels">Descripci&oacute;n:</div>
		<div class="widgets">{{ form_widget(form.descripcion) }}</div>
    </div>

