{% if sats == 11 %}
    <div class="form-contenedor">
        <div class="labels">Tipo de Sat&eacute;lite:</div>
		<div class="widgets">{{ form_widget(form.tipoSatelite) }}</div>
    </div>
{% endif %}
