.formNewEditOperador fieldset
{
    border: 1px solid #0fa1e0;
    width: 550px;
    background-color: #e9f5fe;
    padding-top: 10px;
}

.divisor_representante
{
	background-color: #e9f5fe; 
	padding-top: 5px;
	padding-bottom: 5px;
}

.divisor_representante a
{
	color: #0fa1e0;
}

.form-show
{
    width: 700px;
    font-weight: bold;  

}

.form-show_edit
{
    width: 600px;

    border-color: #6495ed ;
    border-style: inset;

    -moz-border-radius: 20px; /* Firefox */
-webkit-border-radius: 20px; /* Google Chrome y Safari */
border-radius: 20px; /* CSS3 (Opera 10.5, IE 9 y estándar a ser soportado por todos los futuros */
}

.form-show_edit .contenedor input[type="text"]{
        width: 200px;
    }
.form-show_edit .contenedor input[type="checkbox"]{
        margin-bottom: 1px;
        margin-left: 50px;
    }
.form-show_edit .contenedor{
        margin-bottom:5px;
        padding: 5px;
        height: auto;
        overflow: visible;
        width: 600px;
        color: #000; 

    }


.form-show_edit .labels
{
        float: left;
        width: 40%;
        text-align: right;
        padding-right: 10px;
        padding-bottom: 7px;
        font-weight: bold;  

}
.form-show_edit .dato
{
        height: auto;
        text-align: left;
        padding-bottom: 7px;
        overflow: hidden;
        margin-left: 0%;
        text-align: justify;
}


.form-show_edit .labelss
{
        float: left;
        width: 40%;
        padding-right: 10px;
        padding-bottom: 7px;
        font-weight: bold;  
        text-align: right;

}

.form-show_edit .datos
{
        
        overflow: hidden;
        text-align: justify;
}


.divisor{
    padding-top: 5px;
    padding-bottom: 5px;
    color:  #091060; 
}

.divisor a{
    color: #0fa1e0;
}


.activo 
{
    font-size: 18px;
    color: green;
    font-style: italic;
}

.inactivo 
{
    font-size: 18px;
    color: red;
    font-style: italic;
}