.formNewEditOperador fieldset{
    border: 1px solid #0fa1e0;
    width: 550px;
    background-color: #e9f5fe;
    padding-top: 10px;
}

.divisor_representante{
	background-color: #e9f5fe; 
	padding-top: 5px;
	padding-bottom: 5px;
}

.divisor_representante a{
	color: #0fa1e0;
}

.form-show_edit{
    width: 400px;
}

.form-show_edit .contenedor{
    width: 400px;
    background-color: #e9f5fe ;
}

.form-show_edit .label{
        float: left;
        width: 40%;
        text-align: right;
        padding-right: 10px;
        font-weight: bold;
        padding-bottom: 6px;
}


.form-show_edit .dato{
        height: auto;
        text-align: justify;
        padding-bottom: 6px;
        overflow: hidden;


}
/* FIN FORMULARIOS SHOW */

.infomapa{
    background-color: #0fa1e0;
}

.infomapa tr{
    background-color: white;
}


.infomapa th{
    text-align: left;
}

.infooperador{
    background-color: #0fa1e0;
    font-size: 12px;
}

.infooperador tr{
    background-color: white;
}


