body{
    background-color       :#efefef;
    margin-top             :0;
    font-family            :"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size              :12px;
    font-family            :VERDANA;
    /*color                :#010341;*/
    color                  :black;
    line-height            :20px;
}

.contenedorprincipal{
    width: 900px;
}


#contenedor{
    background-color       :white;
    width                  :900px;
    box-shadow: 0px 2px 0px 2px #999;
}

#banner{
    width:              900px;
    height:             128px;
}

.titulo{
    text-align:         center;
    font-weight:        bold;
    padding-right:      20px;
    padding-top:        35px;
    font-size:          20px;
    margin-bottom:      20px;
}

.pie{
    background-color       :#082683;
    
    /*background-color: maroon;*/
    font-size              :10px;
    padding                :5px;
    color                  :white;
    font-weight            :bold;
    box-shadow             : 0px 2px 0px 2px #999;
}

.alert{
    margin:             5px 0 5px 0;
    background-color:   #fef780;
    color:              red;
}

.titulo-banner{
    color: white;
    margin-top:         -30px;
    text-align:         left;
    padding-left:       116px;
    font-weight:        bold;
    height: 30px;
}



      .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }

.notificacion th{
    text-align: right;
    padding-right: 10px;

}

.form-signin {
    width: 300px;
}

