body{
    background-color       :#efefef;
    margin-top             :0;
    font-family            :"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size              :12px;
    font-family            :VERDANA;
    /*color                :#010341;*/
    color                  :black;
    line-height            :20px;
}

.contenedorprincipal{
    width: 900px;
}


#contenedor{
    background-color       :white;
    width                  :900px;
    box-shadow: 0px 2px 0px 2px #999;
}

#banner{
    width:              900px;
    height:             128px;
}

.titulo{
    text-align:         center;
    font-weight:        bold;
    padding-right:      20px;
    padding-top:        35px;
    font-size:          20px;
    margin-bottom:      20px;
}

.pie{
    background-color       :#082683;
    font-size              :10px;
    padding                :5px;
    color                  :white;
    font-weight            :bold;
    box-shadow             : 0px 2px 0px 2px #999;
}

.alert{
    margin:             5px 0 5px 0;
    background-color:   #fef780;
    color:              red;
}

.titulo-banner{
    color: white;
    margin-top:         -30px;
    text-align:         left;
    padding-left:       116px;
    font-weight:        bold;
    height: 30px;
}

#table-login{
    background-color:   black;
    font-size:          13px;
}

#table-login tr{
    background-color:   white;
}

#table-login td{
    padding:            5px;
    border: 1px solid black;
}

#table-login th{
    width:              40%;
    padding:            4px;
    background-color:   #e9f5fe;
    text-align: right;
    border: 1px solid black;
}

#table-login .titulo-form{
    text-align:         center;
    font-weight:        bold;
    background-color:   #e9f5fe;
}
