{% extends '::videoteca.html.twig' %}

{% block title %}Inicio - Telesur{% endblock %}

{% block titulobanner %}
    PAGINA PRINCIPAL VIDEOTECA
{% endblock %}

{% block body %}

    {{ parent() }}

        <div class="titulo">HISTÓRICO SISTEMA AVILA</div>

        <br>
{% endblock %}

         