{% extends '::videoteca.html.twig' %}

{% block title %}Inicio - Telesur{% endblock %}

{% block titulobanner %}
    PAGINA PRINCIPAL VIDEOTECA
{% endblock %}

{% block body %}

    {{ parent() }}

        <div class="titulo">HISTÓRICO SISTEMA AVILA</div>

        <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
        	<thead>
                    <tr>
	        	<th>Casete</th>
	        	<th>Serial</th>
	        	<th width="40%">Titulo</th>
                        <th>Formato</th>
                        <th>Evento</th>
                        <th>Servicio</th>
                        <th>Id Seg</th>
                        <th>contenido segmento</th>
                        <th>titulo complementario</th>
                        <th>Acciones</th>

                    </tr>
        	</thead>

        	<tbody>

        	</tbody>
        </table>

        <script type="text/javascript" charset="utf-8">
            $(document).ready(function() {
                $('#example').dataTable( {
                    "bProcessing": true,
                    "bServerSide": true,
                    "sAjaxSource": "/sait/web/libs/datatables/avila.php",
                    "sPaginationType": "full_numbers"
                } );
            } );
        </script>
        <br><br><br>
{% endblock %}

         