{% if mostrar=='tipooperador' %}
    <div class="form-contenedor">
        <div class="labels">Tipo Operador:</div>
		<div class="widgets">{{ form_widget(form.tipooperador) }}</div>
    </div>
{% endif %}

{% if mostrar=='operador' %}
    <div class="form-contenedor">
        <div class="labels">Operador:</div>
        <div class="widgets">{{ form_widget(form.operador) }}</div>
    </div>


{% endif %}



<script type="text/javascript">
    $(document).ready(function () {
        $('#form_tipooperador').change(function(){
            $('#operador').load('/sait/web/app_dev.php/distribucion/ajax/'+$("#form_pais").val()+'-'+$("#form_tipooperador").val()+'/operador');
        });
    });
</script>