{% extends '::sit.html.twig' %}
 
{% block title %}Sit{% endblock %}


{% block titulobanner %}
    SEGUIMIENTO DE INCIDENCIAS
{% endblock %}


{% block body -%}
    {{ parent() }}

    <div class="titulo">SEGUIMIENTO DE INCIDENCIAS</div>
  
    {% include 'SitBundle:Seguimiento:_infoticket.html.twig' %}

    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">LISTA DE SEGUIMIENTO</h3>
      </div>
      <div class="panel-body" id="seguimiento" style="height: 200px; overflow-y: scroll;">
          CONTENIDO
      </div>
    </div>
    
    <br>
    <a href="{{ path('ticket') }}" class="btn btn-default">IR AL LISTADO</a> | 
    <a href="#" class="btn btn-info">ENVIAR CORREO</a> | 
    <a href="#" class="btn btn-info">REALIZAR UN COMENTARIO</a> | 
    <a href="#" class="btn btn-danger">CERRAR SEGUIMIENTO</a>
    
    <br>
{% endblock %}