<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <style type="text/css">
        	th{
        		text-align: right;
        		margin-right: 20px;
        	}

        	.solicitud{
        		text-align: justify;
        	}

        	table{
        		width: 600px;

        	}

        	table td{
        		padding: 10px;
        		border:1px solid gray;
        	}

        	table th{
        		border:1px solid gray;
        		background-color: #d9edf7;
        		padding-right: 10px;
        		width: 25%;
        	}
        </style>
    </head>

    <body>
    	<div align="center">
			<div><h3>NUEVO TICKET</h3></div>

			<table cellspacing=0>
				<tr>
					<th>Solicitante:</th>
					<td>{{ ticket.solicitante|title }}</td>
				</tr>

				<tr>
					<th>Extensión:</th>
					<td>{{ ticket.extension }}</td>
				</tr>

				<tr>
					<th>Solicitud:</th>
					<td class="solicitud">{{ ticket.solicitud }}</td>
				</tr>
			</table>
			<br>
			<div>GESTIONAR TICKETS <a href="http://aplicaciones.telesurtv.net/sait/web/app.php/sit/ticket">AQUÍ</a></div>
		</div>
	</body>
	
</html>