<div id='cssmenu'>
<ul>
   <li class='active'><a href='{{ path('constancia_homepage') }}'><span>INICIO</span></a></li>
   
   {% if is_granted('ROLE_CONSTANCIA_ADMINISTRADOR') %}
   <li class='has-sub'><a href='#'><span>CONSTANCIA</span></a>
      <ul>
         <li><a href='{{ path('constancia') }}'><span>GESTIONAR</span></a></li>

      </ul>
   </li>
   {% endif %}
   
   <li class='has-sub'><a href='{{ path('usuario_homepage') }}'><span>APLICACIONES</span></a></li>
   <li><a href='{{ path('usuario_logout') }}'><span>SALIR</span></a></li>
</ul>
</div>

