#numeracion .numero{
	padding-top: 100px;
	padding-bottom: 60px;
	font-size: 180px;

}

#numeracion .nombre{
	padding-top: 60px;
	padding-bottom: 40px;
	font-size: 40px;

}

.titulojornada{
	padding-top: 60px;
	font-size: 50px;

}